.ImgCarrousselContainer {
    margin-top: 43px;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.ImgCarrousselContent {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.CarrousselImage {
    min-width: 100%;
}